html,
body {
  @apply h-full overflow-hidden;
}

body {
  @apply bg-cream text-black body-1 antialiased;
}

/* Custom CSS variables for the site. */
:root {
  --example-height: calc(84 * var(--spacing));
}

::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}
