@theme {
  --font-sans: var(--font-ppframa);

  --text-\*: initial;

  --text-title: --spacing(20);
  --text-title--font-weight: 400;
  --text-title--line-height: 1.1;
  --text-title--letter-spacing: normal;

  --text-body: --spacing(16);
  --text-body--font-weight: 400;
  --text-body--line-height: 1;
  --text-body--letter-spacing: normal;

  --text-caption: --spacing(14);
  --text-caption--font-weight: 400;
  --text-caption--line-height: 1;
  --text-caption--letter-spacing: normal;
}

@utility title {
  @apply text-title font-sans;
}

@utility body {
  @apply text-body font-sans;
}

@utility caption {
  @apply text-caption font-sans;
}
